<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.cjs" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.cjs\/debug[\/]?" />
        </rule>

        <!-- All other requests are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.cjs" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- iisnode settings -->
    <iisnode 
      node_env="production"
      loggingEnabled="true"
      devErrorsEnabled="true"
      interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;"
    />
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Error reporting -->
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
